* {
    background-color: black;
    color: aliceblue;
    margin: 0;
}

.Joelypoly {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    margin: 0;
    border-color: aliceblue;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

button {
    border-color: aliceblue;
}

div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 7px
}

header {
    display: flex;

    flex-direction: column;

    background-color: hsl(181, 25%, 40%);
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;

    background-color: hsl(181, 25%, 40%);
    padding-top: 0px;
    min-height: 3pc;
    margin-top: 0px;
}



h1 {
    padding-bottom: 0.4pc;
    padding-top: 1pc;
    background-color: hsl(181, 25%, 40%);
    margin: 0;
    color: lightgray;
}

h6 {
    padding-bottom: 1pc;
    padding-top: 0.4pc;
    background-color: hsl(181, 25%, 40%);
    margin: 0;
    text-indent: 0;
    color: lightgray;
}

a {
    font-size: 10px;
    background-color: hsl(181, 25%, 40%);
    padding-bottom: 0.4pc;
    font-weight: bold;
    color: lightgray;
}

.abcd1234 {
    background-color: hsl(181, 25%, 40%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Aria {
    color: lightgray;
    border-width: 2px;
    border-style: solid;
}

#footer-div {
    padding-bottom: 0;
    margin-bottom: 0;
}

.DeclanBought {
    display: flex;
    justify-content: space-evenly;
    border-color: aliceblue;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

#AlyssaBought {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lifetime {
    background-color: hsl(181, 25%, 40%);
    padding-left: 10px;
    padding-right: 10px;
    max-height: 3pc;
}

.span {
    background-color: hsl(181, 25%, 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border: 0;
    text-indent: 0;
    padding: 0;
}

span {
    padding: 0;
    margin: 0;
}

#Joelone {
    background-color: black;
}

.ExpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 0.1pc;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    margin: 5px auto;
    padding: 0pc;
    max-height: 1.5pc;
}

.expbarfill {
    background-color: lime;
    height: 10px;
    width: 0%;
    margin-top: 8px;
}

#Leveluptwo {
    font-size: 1pc;
    text-decoration: aliceblue;
    margin: 0;
    padding-top: 0.6pc;
    transition: 700ms;
}

.Joeltwo {
    transition: 700ms;
    color: aliceblue;
    font-size: 1pc;
}

#three {
    margin-top: 0;
    padding-top: 0;
}

#Aria {
    margin-bottom: 0;
    padding-bottom: 0;
}

audio {
    max-width: 0px;
    max-height: 0px;
}